<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="stylesheet" href="../../static/style/base.css" th:href="@{/style/base.css}">
</head>
<body>
<div class="wrapper">
    <div class="content">
        <div class="content-header">ユーザー登録</div>
        <div class="content-body">
            <form action="" method="post" th:action="@{/users/registration}" th:object="${newUser}">
                <div class="input-group">
                    <label for="name">ユーザー名:</label>
                    <div>
                        <input id="name" type="text" th:field="*{name}">
                        <p class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">error message</p>
                    </div>
                </div>
                <button type="submit">作成</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>