<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="stylesheet" href="../../static/style/base.css">
</head>
<body>
<div class="wrapper">
    <div class="content">
        <div class="content-header">ユーザー詳細</div>
        <div class="content-body">
            <table class="details-table">
            <tbody>
                <tr>
                    <th>ユーザーid</th>
                    <!--
                    hint: https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf_ja.html#thtext%E3%81%AE%E4%BD%BF%E7%94%A8%E3%81%A8%E3%83%86%E3%82%AD%E3%82%B9%E3%83%88%E3%81%AE%E5%A4%96%E9%83%A8%E5%8C%96
                    -->
                    <td id="user-id">1</td>
                </tr>
                <tr>
                    <th>ユーザー名</th>
                    <td id="user-name">おれきゅー</td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>